/* row for individual friend */
article.row {
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    padding: 10px;
}
article.row * {
    float:left;
}
article.row img.pic {
    width:30px;
    height:auto;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 5px;
}
article.row p.name {
    margin: 0 5% 0 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}
article.row a {
    margin-right: 2.5%;
}
article.row img.contact-icon {
    width: 30px;
    height: auto;
    margin-top: 5px;
}
article.row img.status {
    width: 20px;
    height: auto;
    margin: 10px 20px 0 0;
    float: right;
}