// remove
.test {
	margin-bottom: 50px;
	li {
		float: left;
		margin-right: 20px;
		list-style-type: none;
	}
}
//remove

body {
	max-width: 667px; // iphone6
	margin: auto;
	background-color: $blue;
	font-size: 14px;
}

h1 {
	font-size: 2.5em;
	color: $copper;
	text-transform: uppercase;
}

p, h3 {
	color: $white;
}

a {
	color: lighten($purple, 30%);
	@include Transition(all 0.5s ease);
	&:hover {
		color: lighten($purple, 20%);
		@include Transition(all 0.5s ease);
	}
}

a.nav-path-selected {
	color: $copper;
}

input {
	color: $slate;
}

.clear {
    clear:both;
    float:none !important;
}

.left33, .center33, .right33 {
	width: 33%;
	float: left;
}

.left50, .right50 {
	width: 50%;
	float: left;
}

input[type="submit"]{
	background-color: $gold;
	color: darken($blue, 10%);
	-webkit-appearance: none;
	cursor: pointer;
	border: none;
	@include BorderRadius(3px);
	@include Transition(all 0.5s ease);
	&:hover {
		color: darken($blue, 15%);
		background-color: darken($gold, 10%);
		@include Transition(all 0.5s ease);
	}
}

.fb_iframe_widget {
    display: block !important;
    width: 65px;
    margin: 20px auto;
}

.slogan {
	font-style: italic;
	color: $white;
}

#utility {
	margin-top: 50px;
	img {
		cursor: pointer;
	}
	.right50 {
		img {
			float: right;
		}
	}
}