#register{
	section#heading {
		text-align: center;
		p.slogan {
			margin-bottom: 40px;
		}
	}
	section#register {
		margin: auto;
		form {
			input {
				float: left;
				width: 95%;
				padding-left: 5%;
				margin-bottom: 5px;
				-webkit-appearance: none; 
				box-shadow: none !important;
				border: none;
				line-height: 40px;
				font-size: 18px;
				@include BorderRadius(3px);
			}
			input[type="submit"] {
				width: 100%;
				padding-left: 0;
				line-height: 30px;
				margin-top: 20px;
			}
		}
	}
}