/************************************ 
Author: RoleCall
Date:
*************************************/

/************************************ 
Compiled To: ../css/main.css

example:
sudo sass --sourcemap --watch css/scss/main.scss:css/main.css --style compressed
*************************************/

/* VARIABLES
****************************************/
	$headings: #000;
		
/* UTILITY CLASSES / MIXINS
*************************************/
	@mixin BorderRadius($param){
		-webkit-border-radius: $param;
		-moz-border-radius: $param;
		-o-border-radius: $param;
		-ms-border-radius: $param;
		border-radius: $param;
		behavior: url('/css/PIE.htc');
	}
	@mixin BoxShadow($param){
		-webkit-box-shadow: $param;
		-moz-box-shadow: $param;
		-ms-box-shadow: $param;
		-o-box-shadow: $param;
		box-shadow: $param;
	}
	@mixin InsetBoxShadow($param) {
		-webkit-box-shadow:inset $param;
		-moz-box-shadow:inset $param;
		-ms-box-shadow:inset $param;
		-o-box-shadow:inset $param;
		box-shadow:inset $param;
	}
	@mixin Transition($param){
		-webkit-transition:$param;
		-moz-box-transition: $param;
		-ms-transition: $param;
		-o-transition: $param;
		transition: $param;
	}
	@mixin Transform($param){
		-webkit-transform:$param;
		-moz-transform:$param;
		-ms-transform: $param;
		-o-transform: $param;
		transform: $param;
	}
		
/* IMPORTS
****************************************/
	@import "_cordova.scss";
	@import "_global.scss";
	@import "_login.scss";
	@import "_user-row.scss";